[submodule "public"]
	path = public
	url = git@github.com:Wenfeng-GAO/Wenfeng-GAO.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:Wenfeng-GAO/beautifulhugo.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:Wenfeng-GAO/maupassant-hugo.git
